*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.logo{
    padding-top: 10px;
    padding-left: 20px;
}

header{
    background: rgba(240, 240, 240);
}

.form-blob{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
    padding: 20px;
    background: rgb(240, 240, 240);
    box-shadow: #1743e3;
    
}

.form-content{
    position: relative;
    background: #ffffff;
    max-width: 450px;
    border: 2px solid #1743e3;
    border-radius: 6px;
    padding: 40px 40px;
}

.form-header{
    font-size: 16px;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.input-field{
    height: 40px;
    width: 250px;
    border-radius: 20px;
    padding: 14px;
    padding-right: 35px;
    border: 2px solid #1743e3;

}

.eye-icon{
    position: absolute;
    right: 50px;
    top:198px;
}

.input-group i{
    
    position: absolute;
    right: 50px;
    top: 140px;  
    
}
.eye-icon svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

.check-group{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    
}

.remembe-me{
    align-items: center;
    display: flex;
    gap: 5px;
}

.form-link{
    text-decoration: none;
    color: #1743e3;

}

.form-link:hover{
    color: black;
}

.btn-submit{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 18px;
    border: 2px solid #1743e3;
    background: #1743e3;
    color: white;
    cursor: pointer;
}

.btn-submit:hover{
    background:transparent;
    color: #1743e3;
}

.reg-link{
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.reg-connect{
    padding-left:2px ;
    color: #1743e3;
    text-decoration: none;
}

.form-header h1{
    color: #1743e3;
}

.home-img .rombus{
    top: 15%;
    position: absolute;
    margin-right: 110px;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    background: white;
    border:20px solid #1743e3
}

.home-img .rombus img{
    position: absolute;
    width: 700px;
    
    max-width: 780px;
    transform: rotate(-43deg);
    left: -280px;
    top: -15px;
}

.home .rombus2{
    position: absolute;
    margin-top: -355px;
    right: -7%;
    background: #1743e3;
    width: 377px;
    height: 370px;
    transform: rotate(-45deg);
    z-index: -1;

}